In [16]:
## Q1

#문제
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

# 리스트 생성
single_choice = []

# 삭제 카운트
count = 0

# 반복문
for q in question :
    # 조건문
    if "_" in q :
        count += 1
    else :
        single_choice.append(q)

# 결과물 출력
print(single_choice)
# print("\n multiple choice 제거 : " + str(count))

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [39]:
## Q2

import pandas as pd
from tabulate import tabulate

# csv 파일 읽기
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")

# 2010년 이후만 분류
after_2010 = df[df['Year'] >= 2011]

# pivot table 사용
pivot_df = after_2010.pivot_table(index='Year', columns='Country', values='Life_Expectancy', aggfunc='mean')

# 결과물 출력
print(tabulate(pivot_df, headers='keys', tablefmt='psql', floatfmt=".1f"))

+--------+----------+----------+-----------+-----------------+---------+-------+
|   Year |   Canada |   France |   Germany |   Great Britain |   Japan |   USA |
|--------+----------+----------+-----------+-----------------+---------+-------|
|   2011 |     81.4 |     82.3 |      80.5 |            81.0 |    82.7 |  78.7 |
|   2012 |     81.6 |     82.1 |      80.6 |            81.0 |    83.2 |  78.8 |
|   2013 |     81.7 |     82.3 |      80.6 |            81.1 |    83.4 |  78.8 |
|   2014 |     81.8 |     82.8 |      81.2 |            81.4 |    83.7 |  78.9 |
|   2015 |     81.9 |     82.4 |      80.7 |            81.0 |    83.9 |  78.7 |
|   2016 |     82.0 |     82.7 |      81.0 |            81.2 |    84.1 |  78.7 |
|   2017 |     81.9 |     82.7 |      81.1 |            81.3 |    84.2 |  78.6 |
|   2018 |     82.0 |     82.8 |      81.0 |            81.3 |    84.3 |  78.7 |
|   2019 |     82.2 |     82.9 |      81.3 |            81.4 |    84.4 |  78.8 |
|   2020 |     81.7 |     82.3 |      81.1 |            80.4 |    84.7 |  77.0 |
+--------+----------+----------+-----------+-----------------+---------+-------+

In [40]:
## Q3

# [코칭스터디] Data Science 2024 1주차

## - 데이터 분석 환경 구성

        - How to use jupyter notebook
            * Shift + Enter 키를 누르면 셀이 실행되고 커서가 다음셀로 이동합니다.
            * Enter 키를 누르면 다시 편집 상태로 돌아옵니다.
            * ESC 키를 누르고
                * a 키를 누르면 위에 셀이 추가됩니다.
                * b 키를 누르면 아래에 셀이 추가됩니다.
                * dd 키를 누르면 셀이 삭제됩니다.
                * m 키를 누르면 문서 셀로 변경됩니다.
                * y 키를 누르면 코드 셀로 변경됩니다.
                
        - What is Markdown?
            * 코드와 함께 문서화를 하실 수 있습니다.
            * 문서화를 할 수 있는 문법입니다.
            
## - 데이터 분석 준비하기
        
        - Basic of Python
            * import : 라이브러리, 패키지 가져오기 
            * boolean : True, False, 1, 0
            * data type : number, string
            * list : 리스트
            * for : 반복문
            * if : 조건문
            * len : 문자열 길이
            * split : 문자열 분리
            * join : 문자열 연결
            
        - Basic of Pandas
            * pandas : 수식으로 계산할 수 있고 시각화도 할 수 있는 데이터 분석도구(대용량 데이터 분석 가능)
            * dataframe : 2차원 구조, 행렬
            * series : 1차원 구조, 백터
            * subset : 일부 값만 불러오기
            * summarize Data : value_counts() -> 빈도수
            * sort_values() : 정렬
            * drop : 삭제
            * groupby : 값을 기준으로 그룹화
            * pivot_table : 집계, 그룹화
            * plot : 시각화
        
        - file path
            * 절대 경로 : path를 모두 적음
            * 상대 경로 : 현재 폴더 기준으로 적음
            * 파일 경로 확인 : %pwd, os.getcwd()
            * glob : 특정 폴더에 어떤 파일이 있는지 확인 가능
            * encoding : cp949 -> 한글 윈도우에서 사용되는 인코딩 방식

IndentationError: unexpected indent (2075330409.py, line 7)

In [53]:
## Q4

import pandas as pd
from tabulate import tabulate

# csv 파일 읽기
df_2022 = pd.read_csv("./data/KC_CLTUR_MOVIE_ACTIVE_IDEX_LIST_2022.csv")
df_2023 = pd.read_csv("./data/KC_CLTUR_MOVIE_ACTIVE_IDEX_LIST_2023.csv")

# 서울시만 분류
seoul_df_2022 = df_2022[df_2022["CTPRVN_NM"] == "서울시"]
seoul_df_2023 = df_2023[df_2023["CTPRVN_NM"] == "서울시"]

# 2022, 2023 데이터 합치기
combined_df = pd.concat([seoul_df_2022, seoul_df_2023])

# pivot table 사용
pivot_df = combined_df.pivot_table(index='BASE_MT', columns='BASE_YEAR', values='MOVIE_ADNC_CO', aggfunc='sum')

# 출력 형식 지정
pivot_df.columns = [f"{year}년(관객수)-명" for year in pivot_df.columns]
pivot_df.index.name = '서울시'
pivot_df.index = pivot_df.index.map(lambda x: f"{int(x):02d}월")

# 결과물 출력
print(tabulate(pivot_df, headers='keys', tablefmt='grid', floatfmt=".0f"))

+----------+---------------------+---------------------+
| 서울시   |   2022년(관객수)-명 |   2023년(관객수)-명 |
+==========+=====================+=====================+
| 01월     |             1619018 |             2912634 |
+----------+---------------------+---------------------+
| 02월     |             1009945 |             1883898 |
+----------+---------------------+---------------------+
| 03월     |              927395 |             2088673 |
+----------+---------------------+---------------------+
| 04월     |              979408 |             1996690 |
+----------+---------------------+---------------------+
| 05월     |             3601522 |             3018955 |
+----------+---------------------+---------------------+
| 06월     |             3793548 |             3578120 |
+----------+---------------------+---------------------+
| 07월     |             4284193 |             3740595 |
+----------+---------------------+---------------------+
| 08월     |             3530030 |             3583280 |
+----------+---------------------+---------------------+
| 09월     |             2308886 |             1840833 |
+----------+---------------------+---------------------+
| 10월     |             1636471 |             1818226 |
+----------+---------------------+---------------------+
| 11월     |             1748831 |             2043832 |
+----------+---------------------+---------------------+
| 12월     |             3484968 |             3929299 |
+----------+---------------------+---------------------+